body
{
color:#000000;
background-color:#ffffff;
margin:4px;
margin-top:0px;
}

.maintable
{
width:100%;
background-color:#e5eecc;
color:#000000;
border:solid #c3c3c3 1px;
margin-left:0px; 
}

.code_input, .result_output
{
border:1px solid #c3c3c3;
width:100%;
height:300px;
background-color:#ffffff;
color:#000000;
}

.toptext
{
color:#617f10;
font-family:verdana;
margin-top:0px;
margin-bottom:8px;
font-size:120%;
}

.result_header
{
color:#617f10;
margin-bottom:12px;
margin-top:0px;
font-family:verdana;
font-size:90%;
}

.bottomtext_div
{
margin-right:3px;
}

.bottomtext
{
color:#617f10;
font-family:verdana;
margin-bottom:0px;
margin-top:6px;
font-size:90%;
}