<!DOCTYPE html>
<html>
<head>
  <title>Matcher</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>

