#!/usr/bin/env ruby

require "git-hooks-helper"

GitHooksHelper.results do
   # fail/pass options
    # stop_on_warnings                                   # makes git commit fail if any warnings are found
    # never_stop                                         # hooks never fails commits
    # list_files                                         # shows list of all changed files

  #checks
  check_ruby_syntax                                    # errors when ruby syntax has errors
  check_erb                                            # errors when ERB syntax has errors
  check_best_practices                                 # warnings when ruby best practices are violated
  warning_on "WTF?", "binding.pry", "<<<<<<<"          # warnings when any of these texts are present in any commited files
  warning_on "console.log", "debugger", {:in => [:js]} # warning when any of these texts are present in JS files
  # messages
  info "Run rspec tests and have a nice day."
end
