.icon.accept{background-image:url("/images/embed/fam_fam/accept.png");}
.icon.add{background-image:url("/images/embed/fam_fam/add.png");}
.icon.anchor{background-image:url("/images/embed/fam_fam/anchor.png");}
.icon.application_add{background-image:url("/images/embed/fam_fam/application_add.png");}
.icon.application_cascade{background-image:url("/images/embed/fam_fam/application_cascade.png");}
.icon.application_delete{background-image:url("/images/embed/fam_fam/application_delete.png");}
.icon.application_double{background-image:url("/images/embed/fam_fam/application_double.png");}
.icon.application_edit{background-image:url("/images/embed/fam_fam/application_edit.png");}
.icon.application_error{background-image:url("/images/embed/fam_fam/application_error.png");}
.icon.application_form_add{background-image:url("/images/embed/fam_fam/application_form_add.png");}
.icon.application_form_delete{background-image:url("/images/embed/fam_fam/application_form_delete.png");}
.icon.application_form_edit{background-image:url("/images/embed/fam_fam/application_form_edit.png");}
.icon.application_form_magnify{background-image:url("/images/embed/fam_fam/application_form_magnify.png");}
.icon.application_form{background-image:url("/images/embed/fam_fam/application_form.png");}
.icon.application_get{background-image:url("/images/embed/fam_fam/application_get.png");}
.icon.application_go{background-image:url("/images/embed/fam_fam/application_go.png");}
.icon.application_home{background-image:url("/images/embed/fam_fam/application_home.png");}
.icon.application_key{background-image:url("/images/embed/fam_fam/application_key.png");}
.icon.application_lightning{background-image:url("/images/embed/fam_fam/application_lightning.png");}
.icon.application_link{background-image:url("/images/embed/fam_fam/application_link.png");}
.icon.application_osx{background-image:url("/images/embed/fam_fam/application_osx.png");}
.icon.application_osx_terminal{background-image:url("/images/embed/fam_fam/application_osx_terminal.png");}
.icon.application{background-image:url("/images/embed/fam_fam/application.png");}
.icon.application_put{background-image:url("/images/embed/fam_fam/application_put.png");}
.icon.application_side_boxes{background-image:url("/images/embed/fam_fam/application_side_boxes.png");}
.icon.application_side_contract{background-image:url("/images/embed/fam_fam/application_side_contract.png");}
.icon.application_side_expand{background-image:url("/images/embed/fam_fam/application_side_expand.png");}
.icon.application_side_list{background-image:url("/images/embed/fam_fam/application_side_list.png");}
.icon.application_side_tree{background-image:url("/images/embed/fam_fam/application_side_tree.png");}
.icon.application_split{background-image:url("/images/embed/fam_fam/application_split.png");}
.icon.application_tile_horizontal{background-image:url("/images/embed/fam_fam/application_tile_horizontal.png");}
.icon.application_tile_vertical{background-image:url("/images/embed/fam_fam/application_tile_vertical.png");}
.icon.application_view_columns{background-image:url("/images/embed/fam_fam/application_view_columns.png");}
.icon.application_view_detail{background-image:url("/images/embed/fam_fam/application_view_detail.png");}
.icon.application_view_gallery{background-image:url("/images/embed/fam_fam/application_view_gallery.png");}
.icon.application_view_icons{background-image:url("/images/embed/fam_fam/application_view_icons.png");}
.icon.application_view_list{background-image:url("/images/embed/fam_fam/application_view_list.png");}
.icon.application_view_tile{background-image:url("/images/embed/fam_fam/application_view_tile.png");}
.icon.application_xp{background-image:url("/images/embed/fam_fam/application_xp.png");}
.icon.application_xp_terminal{background-image:url("/images/embed/fam_fam/application_xp_terminal.png");}
.icon.arrow_branch{background-image:url("/images/embed/fam_fam/arrow_branch.png");}
.icon.arrow_divide{background-image:url("/images/embed/fam_fam/arrow_divide.png");}
.icon.arrow_down{background-image:url("/images/embed/fam_fam/arrow_down.png");}
.icon.arrow_inout{background-image:url("/images/embed/fam_fam/arrow_inout.png");}
.icon.arrow_in{background-image:url("/images/embed/fam_fam/arrow_in.png");}
.icon.arrow_join{background-image:url("/images/embed/fam_fam/arrow_join.png");}
.icon.arrow_left{background-image:url("/images/embed/fam_fam/arrow_left.png");}
.icon.arrow_merge{background-image:url("/images/embed/fam_fam/arrow_merge.png");}
.icon.arrow_out{background-image:url("/images/embed/fam_fam/arrow_out.png");}
.icon.arrow_redo{background-image:url("/images/embed/fam_fam/arrow_redo.png");}
.icon.arrow_refresh{background-image:url("/images/embed/fam_fam/arrow_refresh.png");}
.icon.arrow_refresh_small{background-image:url("/images/embed/fam_fam/arrow_refresh_small.png");}
.icon.arrow_right{background-image:url("/images/embed/fam_fam/arrow_right.png");}
.icon.arrow_rotate_anticlockwise{background-image:url("/images/embed/fam_fam/arrow_rotate_anticlockwise.png");}
.icon.arrow_rotate_clockwise{background-image:url("/images/embed/fam_fam/arrow_rotate_clockwise.png");}
.icon.arrow_switch{background-image:url("/images/embed/fam_fam/arrow_switch.png");}
.icon.arrow_turn_left{background-image:url("/images/embed/fam_fam/arrow_turn_left.png");}
.icon.arrow_turn_right{background-image:url("/images/embed/fam_fam/arrow_turn_right.png");}
.icon.arrow_undo{background-image:url("/images/embed/fam_fam/arrow_undo.png");}
.icon.arrow_up{background-image:url("/images/embed/fam_fam/arrow_up.png");}
.icon.asterisk_orange{background-image:url("/images/embed/fam_fam/asterisk_orange.png");}
.icon.asterisk_yellow{background-image:url("/images/embed/fam_fam/asterisk_yellow.png");}
.icon.attach{background-image:url("/images/embed/fam_fam/attach.png");}
.icon.award_star_add{background-image:url("/images/embed/fam_fam/award_star_add.png");}
.icon.award_star_bronze_1{background-image:url("/images/embed/fam_fam/award_star_bronze_1.png");}
.icon.award_star_bronze_2{background-image:url("/images/embed/fam_fam/award_star_bronze_2.png");}
.icon.award_star_bronze_3{background-image:url("/images/embed/fam_fam/award_star_bronze_3.png");}
.icon.award_star_delete{background-image:url("/images/embed/fam_fam/award_star_delete.png");}
.icon.award_star_gold_1{background-image:url("/images/embed/fam_fam/award_star_gold_1.png");}
.icon.award_star_gold_2{background-image:url("/images/embed/fam_fam/award_star_gold_2.png");}
.icon.award_star_gold_3{background-image:url("/images/embed/fam_fam/award_star_gold_3.png");}
.icon.award_star_silver_1{background-image:url("/images/embed/fam_fam/award_star_silver_1.png");}
.icon.award_star_silver_2{background-image:url("/images/embed/fam_fam/award_star_silver_2.png");}
.icon.award_star_silver_3{background-image:url("/images/embed/fam_fam/award_star_silver_3.png");}
