<% title "Users" %>
<% stylesheet("application", "images") %>
<% icons = ["accept",
"add",
"anchor",
"application_add",
"application_cascade",
"application_delete",
"application_double",
"application_edit",
"application_error",
"application_form_add",
"application_form_delete",
"application_form_edit",
"application_form_magnify",
"application_form",
"application_get",
"application_go",
"application_home",
"application_key",
"application_lightning",
"application_link",
"application_osx",
"application_osx_terminal",
"application",
"application_put",
"application_side_boxes",
"application_side_contract",
"application_side_expand",
"application_side_list",
"application_side_tree",
"application_split",
"application_tile_horizontal",
"application_tile_vertical",
"application_view_columns",
"application_view_detail",
"application_view_gallery",
"application_view_icons",
"application_view_list",
"application_view_tile",
"application_xp",
"application_xp_terminal",
"arrow_branch",
"arrow_divide",
"arrow_down",
"arrow_inout",
"arrow_in",
"arrow_join",
"arrow_left",
"arrow_merge",
"arrow_out",
"arrow_redo",
"arrow_refresh",
"arrow_refresh_small",
"arrow_right",
"arrow_rotate_anticlockwise",
"arrow_rotate_clockwise",
"arrow_switch",
"arrow_turn_left",
"arrow_turn_right",
"arrow_undo",
"arrow_up",
"asterisk_orange",
"asterisk_yellow",
"attach",
"award_star_add",
"award_star_bronze_1",
"award_star_bronze_2",
"award_star_bronze_3",
"award_star_delete",
"award_star_gold_1",
"award_star_gold_2",
"award_star_gold_3",
"award_star_silver_1",
"award_star_silver_2",
"award_star_silver_3",
] %>
<ul>
  <% @users.each{ |user| %>
    <li class="user"><%= user %><span class="icon show"></span><span class="icon edit"></span><span class="icon delete"></span></li>
  <% } %>
</ul>

<ul>
  <% icons.each{ |icon| %>
    <li><%= icon %><span class="icon <%= icon %>"></span></li>
  <% } %>
</ul>
